{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://redshift.amazonaws.com/"
        },
        {
            "url": "http://redshift.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "<fullname>Amazon Redshift</fullname> <p> <b>Overview</b> </p> <p>This is an interface reference for Amazon Redshift. It contains documentation for one of the programming or command line interfaces you can use to manage Amazon Redshift clusters. Note that Amazon Redshift is asynchronous, which means that some interfaces may require techniques, such as polling or asynchronous callback handlers, to determine when a command has been applied. In this reference, the parameter descriptions indicate whether a change is applied immediately, on the next instance reboot, or during the next maintenance window. For a summary of the Amazon Redshift cluster management interfaces, go to <a href=\"http://docs.aws.amazon.com/redshift/latest/mgmt/using-aws-sdk.html\">Using the Amazon Redshift Management Interfaces</a>.</p> <p>Amazon Redshift manages all the work of setting up, operating, and scaling a data warehouse: provisioning capacity, monitoring and backing up the cluster, and applying patches and upgrades to the Amazon Redshift engine. You can focus on using your data to acquire new insights for your business and customers.</p> <p>If you are a first-time user of Amazon Redshift, we recommend that you begin by reading the <a href=\"http://docs.aws.amazon.com/redshift/latest/gsg/getting-started.html\">Amazon Redshift Getting Started Guide</a>.</p> <p>If you are a database developer, the <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/welcome.html\">Amazon Redshift Database Developer Guide</a> explains how to design, build, query, and maintain the databases that make up your data warehouse. </p>",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "Amazon Redshift",
        "version": "2012-12-01",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/redshift-2012-12-01.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "redshift"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://docs.aws.amazon.com/redshift/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Exchanges a DC1 Reserved Node for a DC2 Reserved Node with no changes to the configuration (term, payment type, or number of nodes) and no additional costs. ",
                "operationId": "AcceptReservedNodeExchange",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "properties": {
                                        "ExchangedReservedNode": {
                                            "description": "Describes a reserved node. You can call the <a>DescribeReservedNodeOfferings</a> API to obtain the available reserved node offerings. ",
                                            "properties": {
                                                "CurrencyCode": {
                                                    "description": "The currency code for the reserved cluster.",
                                                    "type": "string"
                                                },
                                                "Duration": {
                                                    "description": "The duration of the node reservation in seconds.",
                                                    "type": "integer"
                                                },
                                                "FixedPrice": {
                                                    "description": "The fixed cost Amazon Redshift charges you for this reserved node.",
                                                    "format": "double",
                                                    "type": "number"
                                                },
                                                "NodeCount": {
                                                    "description": "The number of reserved compute nodes.",
                                                    "type": "integer"
                                                },
                                                "NodeType": {
                                                    "description": "The node type of the reserved node.",
                                                    "type": "string"
                                                },
                                                "OfferingType": {
                                                    "description": "The anticipated utilization of the reserved node, as defined in the reserved node offering.",
                                                    "type": "string"
                                                },
                                                "RecurringCharges": {
                                                    "description": "The recurring charges for the reserved node.",
                                                    "items": {
                                                        "description": "Describes a recurring charge.",
                                                        "properties": {
                                                            "RecurringChargeAmount": {
                                                                "description": "The amount charged per the period of time specified by the recurring charge frequency.",
                                                                "format": "double",
                                                                "type": "number"
                                                            },
                                                            "RecurringChargeFrequency": {
                                                                "description": "The frequency at which the recurring charge amount is applied.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "ReservedNodeId": {
                                                    "description": "The unique identifier for the reservation.",
                                                    "type": "string"
                                                },
                                                "ReservedNodeOfferingId": {
                                                    "description": "The identifier for the reserved node offering.",
                                                    "type": "string"
                                                },
                                                "ReservedNodeOfferingType": {
                                                    "enum": [
                                                        "Regular",
                                                        "Upgradable"
                                                    ],
                                                    "type": "string"
                                                },
                                                "StartTime": {
                                                    "description": "The time the reservation started. You purchase a reserved node offering for a duration. This is the start time of that duration.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "State": {
                                                    "description": "<p>The state of the reserved compute node.</p> <p>Possible Values:</p> <ul> <li> <p>pending-payment-This reserved node has recently been purchased, and the sale has been approved, but payment has not yet been confirmed.</p> </li> <li> <p>active-This reserved node is owned by the caller and is available for use.</p> </li> <li> <p>payment-failed-Payment failed for the purchase attempt.</p> </li> <li> <p>retired-The reserved node is no longer available. </p> </li> <li> <p>exchanging-The owner is exchanging the reserved node for another reserved node.</p> </li> </ul>",
                                                    "type": "string"
                                                },
                                                "UsagePrice": {
                                                    "description": "The hourly rate Amazon Redshift charges you for this reserved node.",
                                                    "format": "double",
                                                    "type": "number"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ReservedNodeNotFoundFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidReservedNodeStateFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ReservedNodeAlreadyMigratedFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ReservedNodeOfferingNotFoundFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "UnsupportedOperationFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "DependentServiceUnavailableFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "486": {
                        "description": "ReservedNodeAlreadyExistsFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ReservedNodeId": {
                                        "description": "A string representing the node identifier of the DC1 Reserved Node to be exchanged.",
                                        "type": "string"
                                    },
                                    "TargetReservedNodeOfferingId": {
                                        "description": "The unique identifier of the DC2 Reserved Node offering to be used for the exchange. You can obtain the value for the parameter by calling <a>GetReservedNodeExchangeOfferings</a> ",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "ReservedNodeId",
                                    "TargetReservedNodeOfferingId"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#AuthorizeClusterSecurityGroupIngress": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Adds an inbound (ingress) rule to an Amazon Redshift security group. Depending on whether the application accessing your cluster is running on the Internet or an Amazon EC2 instance, you can authorize inbound access to either a Classless Interdomain Routing (CIDR)/Internet Protocol (IP) range or to an Amazon EC2 security group. You can add as many as 20 ingress rules to an Amazon Redshift security group.</p> <p>If you authorize access to an Amazon EC2 security group, specify <i>EC2SecurityGroupName</i> and <i>EC2SecurityGroupOwnerId</i>. The Amazon EC2 security group and Amazon Redshift cluster must be in the same AWS Region. </p> <p>If you authorize access to a CIDR/IP address range, specify <i>CIDRIP</i>. For an overview of CIDR blocks, see the Wikipedia article on <a href=\"http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing\">Classless Inter-Domain Routing</a>. </p> <p>You must also associate the security group with a cluster so that clients running on these IP addresses or the EC2 instance are authorized to connect to the cluster. For information about managing security groups, go to <a href=\"http://docs.aws.amazon.com/redshift/latest/mgmt/working-with-security-groups.html\">Working with Security Groups</a> in the <i>Amazon Redshift Cluster Management Guide</i>.</p>",
                "operationId": "AuthorizeClusterSecurityGroupIngress",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "properties": {
                                        "ClusterSecurityGroup": {
                                            "description": "Describes a security group.",
                                            "properties": {
                                                "ClusterSecurityGroupName": {
                                                    "description": "The name of the cluster security group to which the operation was applied.",
                                                    "type": "string"
                                                },
                                                "Description": {
                                                    "description": "A description of the security group.",
                                                    "type": "string"
                                                },
                                                "EC2SecurityGroups": {
                                                    "description": "A list of EC2 security groups that are permitted to access clusters associated with this cluster security group.",
                                                    "items": {
                                                        "description": "Describes an Amazon EC2 security group.",
                                                        "properties": {
                                                            "EC2SecurityGroupName": {
                                                                "description": "The name of the EC2 Security Group.",
                                                                "type": "string"
                                                            },
                                                            "EC2SecurityGroupOwnerId": {
                                                                "description": "The AWS ID of the owner of the EC2 security group specified in the <code>EC2SecurityGroupName</code> field. ",
                                                                "type": "string"
                                                            },
                                                            "Status": {
                                                                "description": "The status of the EC2 security group.",
                                                                "type": "string"
                                                            },
                                                            "Tags": {
                                                                "description": "The list of tags for the EC2 security group.",
                                                                "items": {
                                                                    "description": "A tag consisting of a name/value pair for a resource.",
                                                                    "properties": {
                                                                        "Key": {
                                                                            "description": "The key, or name, for the resource tag.",
                                                                            "type": "string"
                                                                        },
                                                                        "Value": {
                                                                            "description": "The value for the resource tag.",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "IPRanges": {
                                                    "description": "A list of IP ranges (CIDR blocks) that are permitted to access clusters associated with this cluster security group.",
                                                    "items": {
                                                        "description": "Describes an IP range used in a security group.",
                                                        "properties": {
                                                            "CIDRIP": {
                                                                "description": "The IP range in Classless Inter-Domain Routing (CIDR) notation.",
                                                                "type": "string"
                                                            },
                                                            "Status": {
                                                                "description": "The status of the IP range, for example, \"authorized\".",
                                                                "type": "string"
                                                            },
                                                            "Tags": {
                                                                "description": "The list of tags for the IP range.",
                                                                "items": {
                                                                    "description": "A tag consisting of a name/value pair for a resource.",
                                                                    "properties": {
                                                                        "Key": {
                                                                            "description": "The key, or name, for the resource tag.",
                                                                            "type": "string"
                                                                        },
                                                                        "Value": {
                                                                            "description": "The value for the resource tag.",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "Tags": {
                                                    "description": "The list of tags for the cluster security group.",
                                                    "items": {
                                                        "description": "A tag consisting of a name/value pair for a resource.",
                                                        "properties": {
                                                            "Key": {
                                                                "description": "The key, or name, for the resource tag.",
                                                                "type": "string"
                                                            },
                                                            "Value": {
                                                                "description": "The value for the resource tag.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ClusterSecurityGroupNotFoundFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidClusterSecurityGroupStateFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "AuthorizationAlreadyExistsFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "AuthorizationQuotaExceededFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "<p/>",
                                "properties": {
                                    "CIDRIP": {
                                        "description": "The IP range to be added the Amazon Redshift security group.",
                                        "type": "string"
                                    },
                                    "ClusterSecurityGroupName": {
                                        "description": "The name of the security group to which the ingress rule is added.",
                                        "type": "string"
                                    },
                                    "EC2SecurityGroupName": {
                                        "description": "The EC2 security group to be added the Amazon Redshift security group.",
                                        "type": "string"
                                    },
                                    "EC2SecurityGroupOwnerId": {
                                        "description": "<p>The AWS account number of the owner of the security group specified by the <i>EC2SecurityGroupName</i> parameter. The AWS Access Key ID is not an acceptable value. </p> <p>Example: <code>111122223333</code> </p>",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "ClusterSecurityGroupName"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#AuthorizeSnapshotAccess": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Authorizes the specified AWS customer account to restore the specified snapshot.</p> <p> For more information about working with snapshots, go to <a href=\"http://docs.aws.amazon.com/redshift/latest/mgmt/working-with-snapshots.html\">Amazon Redshift Snapshots</a> in the <i>Amazon Redshift Cluster Management Guide</i>.</p>",
                "operationId": "AuthorizeSnapshotAccess",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "properties": {
                                        "Snapshot": {
                                            "description": "Describes a snapshot.",
                                            "properties": {
                                                "AccountsWithRestoreAccess": {
                                                    "description": "A list of the AWS customer accounts authorized to restore the snapshot. Returns <code>null</code> if no accounts are authorized. Visible only to the snapshot owner. ",
                                                    "items": {
                                                        "description": "Describes an AWS customer account authorized to restore a snapshot.",
                                                        "properties": {
                                                            "AccountAlias": {
                                                                "description": "The identifier of an AWS support account authorized to restore a snapshot. For AWS support, the identifier is <code>amazon-redshift-support</code>. ",
                                                                "type": "string"
                                                            },
                                                            "AccountId": {
                                                                "description": "The identifier of an AWS customer account authorized to restore a snapshot.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "ActualIncrementalBackupSizeInMegaBytes": {
                                                    "description": "The size of the incremental backup.",
                                                    "format": "double",
                                                    "type": "number"
                                                },
                                                "AvailabilityZone": {
                                                    "description": "The Availability Zone in which the cluster was created.",
                                                    "type": "string"
                                                },
                                                "BackupProgressInMegaBytes": {
                                                    "description": "The number of megabytes that have been transferred to the snapshot backup.",
                                                    "format": "double",
                                                    "type": "number"
                                                },
                                                "ClusterCreateTime": {
                                                    "description": "The time (UTC) when the cluster was originally created.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "ClusterIdentifier": {
                                                    "description": "The identifier of the cluster for which the snapshot was taken.",
                                                    "type": "string"
                                                },
                                                "ClusterVersion": {
                                                    "description": "The version ID of the Amazon Redshift engine that is running on the cluster.",
                                                    "type": "string"
                                                },
                                                "CurrentBackupRateInMegaBytesPerSecond": {
                                                    "description": "The number of megabytes per second being transferred to the snapshot backup. Returns <code>0</code> for a completed backup. ",
                                                    "format": "double",
                                                    "type": "number"
                                                },
                                                "DBName": {
                                                    "description": "The name of the database that was created when the cluster was created.",
                                                    "type": "string"
                                                },
                                                "ElapsedTimeInSeconds": {
                                                    "description": "The amount of time an in-progress snapshot backup has been running, or the amount of time it took a completed backup to finish.",
                                                    "type": "integer"
                                                },
                                                "Encrypted": {
                                                    "description": "If <code>true</code>, the data in the snapshot is encrypted at rest.",
                                                    "type": "boolean"
                                                },
                                                "EncryptedWithHSM": {
                                                    "description": "A boolean that indicates whether the snapshot data is encrypted using the HSM keys of the source cluster. <code>true</code> indicates that the data is encrypted using HSM keys.",
                                                    "type": "boolean"
                                                },
                                                "EnhancedVpcRouting": {
                                                    "description": "<p>An option that specifies whether to create the cluster with enhanced VPC routing enabled. To create a cluster that uses enhanced VPC routing, the cluster must be in a VPC. For more information, see <a href=\"http://docs.aws.amazon.com/redshift/latest/mgmt/enhanced-vpc-routing.html\">Enhanced VPC Routing</a> in the Amazon Redshift Cluster Management Guide.</p> <p>If this option is <code>true</code>, enhanced VPC routing is enabled. </p> <p>Default: false</p>",
                                                    "type": "boolean"
                                                },
                                                "EstimatedSecondsToCompletion": {
                                                    "description": "The estimate of the time remaining before the snapshot backup will complete. Returns <code>0</code> for a completed backup. ",
                                                    "type": "integer"
                                                },
                                                "KmsKeyId": {
                                                    "description": "The AWS Key Management Service (KMS) key ID of the encryption key that was used to encrypt data in the cluster from which the snapshot was taken.",
                                                    "type": "string"
                                                },
                                                "MaintenanceTrackName": {
                                                    "description": "The name of the maintenance track for the snapshot.",
                                                    "type": "string"
                                                },
                                                "ManualSnapshotRemainingDays": {
                                                    "description": "The number of days until a manual snapshot will pass its retention period.",
                                                    "type": "integer"
                                                },
                                                "ManualSnapshotRetentionPeriod": {
                                                    "description": "<p>The number of days that a manual snapshot is retained. If the value is -1, the manual snapshot is retained indefinitely. </p> <p>The value must be either -1 or an integer between 1 and 3,653.</p>",
                                                    "type": "integer"
                                                },
                                                "MasterUsername": {
                                                    "description": "The master user name for the cluster.",
                                                    "type": "string"
                                                },
                                                "NodeType": {
                                                    "description": "The node type of the nodes in the cluster.",
                                                    "type": "string"
                                                },
                                                "NumberOfNodes": {
                                                    "description": "The number of nodes in the cluster.",
                                                    "type": "integer"
                                                },
                                                "OwnerAccount": {
                                                    "description": "For manual snapshots, the AWS customer account used to create or copy the snapshot. For automatic snapshots, the owner of the cluster. The owner can perform all snapshot actions, such as sharing a manual snapshot.",
                                                    "type": "string"
                                                },
                                                "Port": {
                                                    "description": "The port that the cluster is listening on.",
                                                    "type": "integer"
                                                },
                                                "RestorableNodeTypes": {
                                                    "description": "The list of node types that this cluster snapshot is able to restore into.",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "SnapshotCreateTime": {
                                                    "description": "The time (in UTC format) when Amazon Redshift began the snapshot. A snapshot contains a copy of the cluster data as of this exact time.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "SnapshotIdentifier": {
                                                    "description": "The snapshot identifier that is provided in the request.",
                                                    "type": "string"
                                                },
                                                "SnapshotRetentionStartTime": {
                                                    "description": "A timestamp representing the start of the retention period for the snapshot.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "SnapshotType": {
                                                    "description": "The snapshot type. Snapshots created using <a>CreateClusterSnapshot</a> and <a>CopyClusterSnapshot</a> are of type \"manual\". ",
                                                    "type": "string"
                                                },
                                                "SourceRegion": {
                                                    "description": "The source region from which the snapshot was copied.",
                                                    "type": "string"
                                                },
                                                "Status": {
                                                    "description": "<p>The snapshot status. The value of the status depends on the API operation used: </p> <ul> <li> <p> <a>CreateClusterSnapshot</a> and <a>CopyClusterSnapshot</a> returns status as \"creating\". </p> </li> <li> <p> <a>DescribeClusterSnapshots</a> returns status as \"creating\", \"available\", \"final snapshot\", or \"failed\".</p> </li> <li> <p> <a>DeleteClusterSnapshot</a> returns status as \"deleted\".</p> </li> </ul>",
                                                    "type": "string"
                                                },
                                                "Tags": {
                                                    "description": "The list of tags for the cluster snapshot.",
                                                    "items": {
                                                        "description": "A tag consisting of a name/value pair for a resource.",
                                                        "properties": {
                                                            "Key": {
                                                                "description": "The key, or name, for the resource tag.",
                                                                "type": "string"
                                                            },
                                                            "Value": {
                                                                "description": "The value for the resource tag.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "TotalBackupSizeInMegaBytes": {
                                                    "description": "The size of the complete set of backup data that would be used to restore the cluster.",
                                                    "format": "double",
                                                    "type": "number"
                                                },
                                                "VpcId": {
                                                    "description": "The VPC identifier of the cluster if the snapshot is from a cluster in a VPC. Otherwise, this field is not in the output.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ClusterSnapshotNotFoundFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "AuthorizationAlreadyExistsFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "AuthorizationQuotaExceededFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "DependentServiceRequestThrottlingFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "InvalidClusterSnapshotStateFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "LimitExceededFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "<p/>",
                                "properties": {
                                    "AccountWithRestoreAccess": {
                                        "description": "<p>The identifier of the AWS customer account authorized to restore the specified snapshot.</p> <p>To share a snapshot with AWS support, specify amazon-redshift-support.</p>",
                                        "type": "string"
                                    },
                                    "SnapshotClusterIdentifier": {
                                        "description": "The identifier of the cluster the snapshot was created from. This parameter is required if your IAM user has a policy containing a snapshot resource element that specifies anything other than * for the cluster name.",
                                        "type": "string"
                                    },
                                    "SnapshotIdentifier": {
                                        "description": "The identifier of the snapshot the account is authorized to restore.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "SnapshotIdentifier",
                                    "AccountWithRestoreAccess"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#BatchDeleteClusterSnapshots": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Deletes a set of cluster snapshots.",
                "operationId": "BatchDeleteClusterSnapshots",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "properties": {
                                        "Errors": {
                                            "description": "A list of any errors returned.",
                                            "items": {
                                                "description": "Describes the errors returned by a snapshot.",
                                                "properties": {
                                                    "FailureCode": {
                                                        "description": "The failure code for the error.",
                                                        "type": "string"
                                                    },
                                                    "FailureReason": {
                                                        "description": "The text message describing the error.",
                                                        "type": "string"
                                                    },
                                                    "SnapshotClusterIdentifier": {
                                                        "description": "A unique identifier for the cluster.",
                                                        "type": "string"
                                                    },
                                                    "SnapshotIdentifier": {
                                                        "description": "A unique identifier for the snapshot returning the error.",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "Resources": {
                                            "description": "A list of the snapshot identifiers that were deleted. ",
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "BatchDeleteRequestSizeExceededFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "Identifiers": {
                                        "description": "A list of identifiers for the snapshots that you want to delete.",
                                        "items": {
                                            "description": "<p/>",
                                            "properties": {
                                                "SnapshotClusterIdentifier": {
                                                    "description": "<p>The unique identifier of the cluster the snapshot was created from. This parameter is required if your IAM user has a policy containing a snapshot resource element that specifies anything other than * for the cluster name.</p> <p>Constraints: Must be the name of valid cluster.</p>",
                                                    "type": "string"
                                                },
                                                "SnapshotIdentifier": {
                                                    "description": "<p>The unique identifier of the manual snapshot to be deleted.</p> <p>Constraints: Must be the name of an existing snapshot that is in the <code>available</code>, <code>failed</code>, or <code>cancelled</code> state.</p>",
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "SnapshotIdentifier"
                                            ],
                                            "type": "object"
                                        },
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "Identifiers"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#BatchModifyClusterSnapshots": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Modifies the settings for a list of snapshots.",
                "operationId": "BatchModifyClusterSnapshots",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "properties": {
                                        "Errors": {
                                            "description": "A list of any errors returned.",
                                            "items": {
                                                "description": "Describes the errors returned by a snapshot.",
                                                "properties": {
                                                    "FailureCode": {
                                                        "description": "The failure code for the error.",
                                                        "type": "string"
                                                    },
                                                    "FailureReason": {
                                                        "description": "The text message describing the error.",
                                                        "type": "string"
                                                    },
                                                    "SnapshotClusterIdentifier": {
                                                        "description": "A unique identifier for the cluster.",
                                                        "type": "string"
                                                    },
                                                    "SnapshotIdentifier": {
                                                        "description": "A unique identifier for the snapshot returning the error.",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "Resources": {
                                            "description": "A list of the snapshots that were modified.",
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidRetentionPeriodFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "BatchModifyClusterSnapshotsLimitExceededFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "Force": {
                                        "description": "A boolean value indicating whether to override an exception if the retention period has passed. ",
                                        "type": "boolean"
                                    },
                                    "ManualSnapshotRetentionPeriod": {
                                        "description": "<p>The number of days that a manual snapshot is retained. If you specify the value -1, the manual snapshot is retained indefinitely.</p> <p>The number must be either -1 or an integer between 1 and 3,653.</p> <p>If you decrease the manual snapshot retention period from its current value, existing manual snapshots that fall outside of the new retention period will return an error. If you want to suppress the errors and delete the snapshots, use the force option. </p>",
                                        "type": "integer"
                                    },
                                    "SnapshotIdentifierList": {
                                        "description": "A list of snapshot identifiers you want to modify.",
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "SnapshotIdentifierList"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CancelResize": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Cancels a resize operation.",
                "operationId": "CancelResize",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "Describes the result of a cluster resize operation.",
                                    "properties": {
                                        "AvgResizeRateInMegaBytesPerSecond": {
                                            "description": "The average rate of the resize operation over the last few minutes, measured in megabytes per second. After the resize operation completes, this value shows the average rate of the entire resize operation.",
                                            "format": "double",
                                            "type": "number"
                                        },
                                        "ElapsedTimeInSeconds": {
                                            "description": "The amount of seconds that have elapsed since the resize operation began. After the resize operation completes, this value shows the total actual time, in seconds, for the resize operation.",
                                            "type": "integer"
                                        },
                                        "EstimatedTimeToCompletionInSeconds": {
                                            "description": "The estimated time remaining, in seconds, until the resize operation is complete. This value is calculated based on the average resize rate and the estimated amount of data remaining to be processed. Once the resize operation is complete, this value will be 0.",
                                            "type": "integer"
                                        },
                                        "ImportTablesCompleted": {
                                            "description": "<p>The names of tables that have been completely imported .</p> <p>Valid Values: List of table names.</p>",
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "ImportTablesInProgress": {
                                            "description": "<p>The names of tables that are being currently imported.</p> <p>Valid Values: List of table names.</p>",
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "ImportTablesNotStarted": {
                                            "description": "<p>The names of tables that have not been yet imported.</p> <p>Valid Values: List of table names</p>",
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "Message": {
                                            "description": "An optional string to provide additional details about the resize action.",
                                            "type": "string"
                                        },
                                        "ProgressInMegaBytes": {
                                            "description": "While the resize operation is in progress, this value shows the current amount of data, in megabytes, that has been processed so far. When the resize operation is complete, this value shows the total amount of data, in megabytes, on the cluster, which may be more or less than TotalResizeDataInMegaBytes (the estimated total amount of data before resize).",
                                            "type": "integer"
                                        },
                                        "ResizeType": {
                                            "description": "An enum with possible values of <code>ClassicResize</code> and <code>ElasticResize</code>. These values describe the type of resize operation being performed. ",
                                            "type": "string"
                                        },
                                        "Status": {
                                            "description": "<p>The status of the resize operation.</p> <p>Valid Values: <code>NONE</code> | <code>IN_PROGRESS</code> | <code>FAILED</code> | <code>SUCCEEDED</code> | <code>CANCELLING</code> </p>",
                                            "type": "string"
                                        },
                                        "TargetClusterType": {
                                            "description": "<p>The cluster type after the resize operation is complete.</p> <p>Valid Values: <code>multi-node</code> | <code>single-node</code> </p>",
                                            "type": "string"
                                        },
                                        "TargetEncryptionType": {
                                            "description": "<p>The type of encryption for the cluster after the resize is complete.</p> <p>Possible values are <code>KMS</code> and <code>None</code>. In the China region possible values are: <code>Legacy</code> and <code>None</code>.</p>",
                                            "type": "string"
                                        },
                                        "TargetNodeType": {
                                            "description": "The node type that the cluster will have after the resize operation is complete.",
                                            "type": "string"
                                        },
                                        "TargetNumberOfNodes": {
                                            "description": "The number of nodes that the cluster will have after the resize operation is complete.",
                                            "type": "integer"
                                        },
                                        "TotalResizeDataInMegaBytes": {
                                            "description": "The estimated total amount of data, in megabytes, on the cluster before the resize operation began.",
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ClusterNotFoundFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ResizeNotFoundFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidClusterStateFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "UnsupportedOperationFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ClusterIdentifier": {
                                        "description": "The unique identifier for the cluster that you want to cancel a resize operation for.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "ClusterIdentifier"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CopyClusterSnapshot": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Copies the specified automated cluster snapshot to a new manual cluster snapshot. The source must be an automated snapshot and it must be in the available state.</p> <p>When you delete a cluster, Amazon Redshift deletes any automated snapshots of the cluster. Also, when the retention period of the snapshot expires, Amazon Redshift automatically deletes it. If you want to keep an automated snapshot for a longer period, you can make a manual copy of the snapshot. Manual snapshots are retained until you delete them.</p> <p> For more information about working with snapshots, go to <a href=\"http://docs.aws.amazon.com/redshift/latest/mgmt/working-with-snapshots.html\">Amazon Redshift Snapshots</a> in the <i>Amazon Redshift Cluster Management Guide</i>.</p>",
                "operationId": "CopyClusterSnapshot",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "properties": {
                                        "Snapshot": {
                                            "description": "Describes a snapshot.",
                                            "properties": {
                                                "AccountsWithRestoreAccess": {
                                                    "description": "A list of the AWS customer accounts authorized to restore the snapshot. Returns <code>null</code> if no accounts are authorized. Visible only to the snapshot owner. ",
                                                    "items": {
                                                        "description": "Describes an AWS customer account authorized to restore a snapshot.",
                                                        "properties": {
                                                            "AccountAlias": {
                                                                "description": "The identifier of an AWS support account authorized to restore a snapshot. For AWS support, the identifier is <code>amazon-redshift-support</code>. ",
                                                                "type": "string"
                                                            },
                                                            "AccountId": {
                                                                "description": "The identifier of an AWS customer account authorized to restore a snapshot.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "ActualIncrementalBackupSizeInMegaBytes": {
                                                    "description": "The size of the incremental backup.",
                                                    "format": "double",
                                                    "type": "number"
                                                },
                                                "AvailabilityZone": {
                                                    "description": "The Availability Zone in which the cluster was created.",
                                                    "type": "string"
                                                },
                                                "BackupProgressInMegaBytes": {
                                                    "description": "The number of megabytes that have been transferred to the snapshot backup.",
                                                    "format": "double",
                                                    "type": "number"
                                                },
                                                "ClusterCreateTime": {
                                                    "description": "The time (UTC) when the cluster was originally created.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "ClusterIdentifier": {
                                                    "description": "The identifier of the cluster for which the snapshot was taken.",
                                                    "type": "string"
                                                },
                                                "ClusterVersion": {
                                                    "description": "The version ID of the Amazon Redshift engine that is running on the cluster.",
                                                    "type": "string"
                                                },
                                                "CurrentBackupRateInMegaBytesPerSecond": {
                                                    "description": "The number of megabytes per second being transferred to the snapshot backup. Returns <code>0</code> for a completed backup. ",
                                                    "format": "double",
                                                    "type": "number"
                                                },
                                                "DBName": {
                                                    "description": "The name of the database that was created when the cluster was created.",
                                                    "type": "string"
                                                },
                                                "ElapsedTimeInSeconds": {
                                                    "description": "The amount of time an in-progress snapshot backup has been running, or the amount of time it took a completed backup to finish.",
                                                    "type": "integer"
                                                },
                                                "Encrypted": {
                                                    "description": "If <code>true</code>, the data in the snapshot is encrypted at rest.",
                                                    "type": "boolean"
                                                },
                                                "EncryptedWithHSM": {
                                                    "description": "A boolean that indicates whether the snapshot data is encrypted using the HSM keys of the source cluster. <code>true</code> indicates that the data is encrypted using HSM keys.",
                                                    "type": "boolean"
                                                },
                                                "EnhancedVpcRouting": {
                                                    "description": "<p>An option that specifies whether to create the cluster with enhanced VPC routing enabled. To create a cluster that uses enhanced VPC routing, the cluster must be in a VPC. For more information, see <a href=\"http://docs.aws.amazon.com/redshift/latest/mgmt/enhanced-vpc-routing.html\">Enhanced VPC Routing</a> in the Amazon Redshift Cluster Management Guide.</p> <p>If this option is <code>true</code>, enhanced VPC routing is enabled. </p> <p>Default: false</p>",
                                                    "type": "boolean"
                                                },
                                                "EstimatedSecondsToCompletion": {
                                                    "description": "The estimate of the time remaining before the snapshot backup will complete. Returns <code>0</code> for a completed backup. ",
                                                    "type": "integer"
                                                },
                                                "KmsKeyId": {
                                                    "description": "The AWS Key Management Service (KMS) key ID of the encryption key that was used to encrypt data in the cluster from which the snapshot was taken.",
                                                    "type": "string"
                                                },
                                                "MaintenanceTrackName": {
                                                    "description": "The name of the maintenance track for the snapshot.",
                                                    "type": "string"
                                                },
                                                "ManualSnapshotRemainingDays": {
                                                    "description": "The number of days until a manual snapshot will pass its retention period.",
                                                    "type": "integer"
                                                },
                                                "ManualSnapshotRetentionPeriod": {
                                                    "description": "<p>The number of days that a manual snapshot is retained. If the value is -1, the manual snapshot is retained indefinitely. </p> <p>The value must be either -1 or an integer between 1 and 3,653.</p>",
                                                    "type": "integer"
                                                },
                                                "MasterUsername": {
                                                    "description": "The master user name for the cluster.",
                                                    "type": "string"
                                                },
                                                "NodeType": {
                                                    "description": "The node type of the nodes in the cluster.",
                                                    "type": "string"
                                                },
                                                "NumberOfNodes": {
                                                    "description": "The number of nodes in the cluster.",
                                                    "type": "integer"
                                                },
                                                "OwnerAccount": {
                                                    "description": "For manual snapshots, the AWS customer account used to create or copy the snapshot. For automatic snapshots, the owner of the cluster. The owner can perform all snapshot actions, such as sharing a manual snapshot.",
                                                    "type": "string"
                                                },
                                                "Port": {
                                                    "description": "The port that the cluster is listening on.",
                                                    "type": "integer"
                                                },
                                                "RestorableNodeTypes": {
                                                    "description": "The list of node types that this cluster snapshot is able to restore into.",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "SnapshotCreateTime": {
                                                    "description": "The time (in UTC format) when Amazon Redshift began the snapshot. A snapshot contains a copy of the cluster data as of this exact time.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "SnapshotIdentifier": {
                                                    "description": "The snapshot identifier that is provided in the request.",
                                                    "type": "string"
                                                },
                                                "SnapshotRetentionStartTime": {
                                                    "description": "A timestamp representing the start of the retention period for the snapshot.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "SnapshotType": {
                                                    "description": "The snapshot type. Snapshots created using <a>CreateClusterSnapshot</a> and <a>CopyClusterSnapshot</a> are of type \"manual\". ",
                                                    "type": "string"
                                                },
                                                "SourceRegion": {
                                                    "description": "The source region from which the snapshot was copied.",
                                                    "type": "string"
                                                },
[...]
